<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinRLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WinRLauncher.Properties.Settings>
            <setting name="columnHeaderCommand_Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="columnHeaderAction_Width" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="columnHeaderArguments_Width" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="columnHeaderWorkingDirectory_Width" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="formMain_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="formMain_ClientSize" serializeAs="String">
                <value>584, 361</value>
            </setting>
        </WinRLauncher.Properties.Settings>
    </userSettings>
</configuration>